@import './base.css';

body {
	background-color: #1E233A !important;
	min-height: 100vh;
	height: 100%;
}

#app {
	font-weight: normal;
}


/* Background CSS */
.bg-394264 {
	background: #394264;
}

.bg-1E233A {
	background: #1E233A;
}

.bg-FEB92E {
	background: #FEB92E;
}

.bg-FEC72E {
	background: #FEC72E;
}

.bg-EC404B {
	background: #EC404B;
}

/* Border CSS */
.bb-1-sidebar {
	border-bottom: 2px solid rgba(143, 151, 181, 0.20);
}

.bt-1-sidebar {
	border-top: 2px solid rgba(143, 151, 181, 0.20);
}

/* Border Radius CSS */
.br-6 {
	border-radius: 6px;
}

.br-7 {
	border-radius: 7px;
}

.br-8 {
	border-radius: 8px;
}

/* Cursor CSS */
.pointer {
	cursor: pointer;
}

/* Flex CSS */
.gap-10 {
	gap: 10px;
}

/* Font Size CSS */
.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-22 {
	font-size: 22px;
}

.fs-24 {
	font-size: 24px;
}

/* Font Weight CSS */
.fw-600 {
	font-weight: 600;
}

/* Margin CSS */
.mt-1-half {
	margin-top: 1.5rem;
}

.mb-half {
	margin-bottom: 0.5rem;
}

/* Padding CSS */
.px-half {
	padding: 0 .5rem;
}

.pt-half {
	padding-top: .5rem;
}

.pt-1-half {
	padding-top: 1.5rem;
}

.pb-half {
	padding-bottom: 0.5rem;
}

/* Position CSS */
.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

/* Text Color CSS */
.color-white {
	color: #FFF;
}

.color-1E233A {
	color: #1E233A;
}

.color-8F97B5 {
	color: #8F97B5;
}

/* Text CSS */
.text-center {
	text-align: center;
}

.LH-30 {
	line-height: 30px;
}

/* Width */
.w-48 {
	width: 48%;
}

.w-49 {
	width: 49%;
}

.w-80 {
	width: 80%;
}

.mw-300 {
	max-width: 300px;
}